@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&family=Inknut+Antiqua:wght@300;400;500;600;700&family=Open+Sans:ital,wght@0,300..800;1,400&display=swap');

@import './styles/colors.css';
@import './styles/utils.css';
@import './styles/modal.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Fira Sans", sans-serif;
  font-size: 14px;
  line-height: 1.25;
  font-weight: 400;
  background: var(--bg-lightest);
}

.page-title {
    color: var(--text-primary);
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
}

.title {
    color: var(--text-primary);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.sub-title {
    color: var(--text-secondary);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}

.drawer {
  height: 100%;
}

.drawer__layout {
  height: 100%;
}

.drawer__header {
  padding: 16px 20px;
  border-bottom: 1px solid var(--separator);
}

.drawer__body {
  flex: 1;
  min-height: 0;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 20px;
}

.drawer__footer {
  padding: 16px 20px;
  border-top: 1px solid var(--separator);
}
